name: CI Pipeline
on:
  pull_request:
    branches:
      - master
    paths:
      - "src/**"
      - ".github/workflows/ci-pipeline.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  version:
    name: Calculate Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.sanitize_version.outputs.sanitized_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get Next Semantic Version
        id: semver
        uses: ietf-tools/semver-action@v1.9.0
        with:
          token: ${{ github.token }}
          branch: ${{ github.head_ref }}
          patchList: fix, bugfix, perf, refactor, test, tests, chore, patch
          majorList: major, breaking
          minorList: minor, feat, feature
          noVersionBumpBehavior: patch
          noNewCommitBehavior: patch
          fallbackTag: 'v0.0.0'

      - name: Sanitize Semantic Version
        id: sanitize_version
        run: |
          SANITISED_BRANCH=$(echo "${{ github.head_ref }}" | sed 's/[^a-zA-Z0-9._-]/-/g')
          VERSION="${{ steps.semver.outputs.nextStrict }}-$SANITISED_BRANCH-${{ github.run_number }}"
          echo "sanitized_version=$VERSION" >> $GITHUB_OUTPUT

  build-solution:
    name: Build Solution
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"
          dotnet-quality: "preview"

      - name: Restore Dependencies
        working-directory: src
        run: dotnet restore SimpleChessEngine.slnx --packages ./.nuget/packages

      - name: Build Solution
        working-directory: src
        run: dotnet build SimpleChessEngine.slnx -c Release --no-restore -p:Version=${{ needs.version.outputs.version }}

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: solution-build-output
          path: ./src
          include-hidden-files: true

  test:
    name: Test - ${{ matrix.test-project }}
    runs-on: ubuntu-latest
    needs: build-solution
    strategy:
      matrix:
        test-project: [SimpleChess.State.Tests, SimpleChess.Engine.Tests]
    steps:
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"
          dotnet-quality: "preview"

      - name: Download Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: solution-build-output
          path: ./src

      - name: Run Tests - ${{ matrix.test-project }}
        timeout-minutes: 5
        working-directory: ./src/${{ matrix.test-project }}/bin/Release/net10.0
        run: dotnet ${{ matrix.test-project }}.dll

  package:
    name: Package - ${{ matrix.library }}
    runs-on: ubuntu-latest
    needs:
      - version
      - build-solution
      - test
    strategy:
      matrix:
        library: [SimpleChess.State, SimpleChess.Engine]
    steps:
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"
          dotnet-quality: "preview"

      - name: Download Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: solution-build-output
          path: ./src

      - name: Package ${{ matrix.library }}
        working-directory: src
        env:
          NUGET_PACKAGES: ./.nuget/packages
        run: |
          dotnet pack ${{ matrix.library }}/${{ matrix.library }}.csproj \
            --no-build \
            --no-restore \
            --configuration Release \
            --output ./artifacts \
            -p:Version=${{ needs.version.outputs.version }}

      - name: Upload Package Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.library }}-package
          path: ./src/artifacts/*.nupkg

      - name: Upload Symbols Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.library }}-symbols
          path: ./src/artifacts/*.snupkg

  publish-to-github:
    name: Publish to GitHub Packages
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.fork == false
    needs:
      - version
      - package
    steps:
      - name: Download SimpleChess.State Package
        uses: actions/download-artifact@v7
        with:
          name: SimpleChess.State-package
          path: ./artifacts

      - name: Download SimpleChess.State Symbols
        uses: actions/download-artifact@v7
        with:
          name: SimpleChess.State-symbols
          path: ./artifacts

      - name: Download SimpleChess.Engine Package
        uses: actions/download-artifact@v7
        with:
          name: SimpleChess.Engine-package
          path: ./artifacts

      - name: Download SimpleChess.Engine Symbols
        uses: actions/download-artifact@v7
        with:
          name: SimpleChess.Engine-symbols
          path: ./artifacts

      - name: Configure NuGet Source
        run: |
          dotnet nuget add source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
            --name github \
            --username "USERNAME" \
            --password ${{ secrets.GITHUB_TOKEN }} \
            --store-password-in-clear-text

      - name: Publish All Packages
        run: |
          dotnet nuget push "./artifacts/*.nupkg" \
            --source github \
            --api-key ${{ secrets.GITHUB_TOKEN }} \
            --skip-duplicate
